target/
.git/
.mvn/
*.iml
.idea/
.vscode/
Dockerfile
.dockerignore

**/*.zst
**/*.zip
**/*.tar
**/*.tar.gz
**/*.7z
**/*.csv
**/*.jsonl
**/*.parquet

data/
datasets/
downloads/
tmp/
.m2/
target/
node_modules/
.git/
